/*master styles*/
.body{

    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/*nav styles*/


.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: teal;
}

.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: capitalize;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{ 

    color: black;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
color: black;
}

/*main page styles*/
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;

}

.img-text-wrapper .subtitle{
    transition: 1s;
    color: transparent;
    font-weight: 600;
}


.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color: lightseagreen;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);

}

/*about page styles*/

.two-column-wrapper{

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
    width:70%;
}

.profile-content-wrapper{
    padding: 30px;
}

.profile-content-wrapper h1{

    color: lightseagreen;
}